.form-login{
    width: 576px;
    max-width: 90vw;
    z-index: 10;
}

.error{
    color: var(--red);
}

@media (max-width: 576px) {
    .form-login{
        width: 100vw;
        height: 100vh;
    }
}