.container{
    background-color: var(--contact);
    width: 250px;
    display: flex;
    height: 100vh;
    flex-direction: column;
    transition: width 0.5s;
}

.container-menu{
    width: 234px;
    margin: 0;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
}

.container-menu i {
    margin-right: 0.5rem;
}

.container-contact{
    flex-grow: 1;
    overflow-y: scroll;
}

.container-contact::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE, Edge and Firefox */
.container-contact {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.container-profile {
    background-color: var(--profile);
    padding: 0.5rem;
}

@media (max-width: 768px) { 
    .hiden {
        width: 0;
    }
}

/*
.profile{
    width: 100%;
}

.menu{
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,0.5);
}

.mini-menu{
    width: 150px;
    position: absolute;
    right: 0;
}

.menu .option{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.3rem;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 0.9em;
    color: var(--font-primary);
}

.menu .option:hover{
    background-color: rgba(255,255,255, 0.3);
}

.option.option-delete:hover{
    background-color: var(--red);
}

.option.option-delete:hover span{
    color: var(--font-primary);
}

.option.option-delete span{
    color: var(--red);
}

@media (max-width: 768px) { 
    .background-button{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        width: 100vw;
    }

    .container{
        position: absolute;
        left: -250px;
    }

    .seen-menuphone{
        left: 0;
    }
}
*/