.container{
    background-color: var(--contact);
    width: 250px;
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.container-menu{
    margin: 0;
    padding: 0 0.5rem;
    padding-top: 0.5rem;
}

.container-menu i {
    margin-right: 0.5rem;
}

.container-contact{
    flex-grow: 1;
    overflow-y: scroll;
}

.container-contact::-webkit-scrollbar {
    display: none;
}

.container-contact {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.container-profile {
    background-color: var(--profile);
}

.logout{
    color: var(--red);
}

@media (max-width: 768px) {
    .container-move{
        position: absolute;
        z-index: 10;
        left: 0;
        transition: left 0.5s;

        display: flex;
    }

    .max-container {
        width: 100%;
    }

    .noseen {
        left: -250px;
    }

    .options-seen-menuphone{
        height: 40px;
    }

    .max{
        flex-grow: 1;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        transition: background-color 0.5s;
    }

    .options-seen-menuphone i {
        padding: 0.5rem 1rem;
        box-sizing: border-box;
        font-size: 1.4em;
        cursor: pointer;
    }
}

@media (min-width: 768px) {
    .options-seen-menuphone{
      display: none;
    }
}