.wait-container{
    background-color: #2f3136;
}

.wait__text{
    color: var(--font-primary);
    text-align: center;
}

.wait__logo{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;

    animation: wait__logo 3s infinite ease-in-out;
    animation-delay: 1;
}

@keyframes wait__logo{
    0%{ 
        transform: scale(1);
        opacity: 1;
    }

    50%{
        transform: scale(0.8);
        opacity: 0.9;
    }

    100%{
        transform: scale(1);
        opacity: 1;
    }
}
