.container-form{
    height: 8vh;
    background-color: var(--main);
    padding: 1rem;
    padding-top: 0rem;
    box-sizing: border-box;
    position: relative;
}

.container-form.image{
    height: 18vh;
    padding: 1rem;
    padding-top: 0rem;
}

.container-form input{
    background-color: #40444b;
    margin: 0;
    border: none;
}

.container-form input:focus{
    border: none;
}

.typing{
    margin: 0 0.1rem;
    min-height: 14px;
    display: inline-block;
    position: absolute;
    top: -14px;
    background-color: var(--main);
}

.image{
    border-radius: 0.5rem;
    height: 60px;
    padding: 0.3rem;
    box-sizing: border-box;
}