.container-form{
    height: 14vh;
    background-color: var(--main);
    padding: 1rem;
    box-sizing: border-box;
}

.container-form input{
    background-color: #40444b;
    margin: 0;
    border: none;
}

.container-form input:focus{
    border: none;
}

.font-small{
    margin-top: 0.75rem;
    margin-bottom: 0.25rem;
    min-height: 14px;
}