.container-form{
    height: 12vh;
    background-color: var(--main);
    padding: 1rem;
    box-sizing: border-box;
}

.container-form input{
    background-color: #40444b;
    margin: 0;
    border: none;
}

.container-form input:focus{
    border: none;
}