@import url('assets/css/grid.css');
@import url('assets/css/container.css');

.App {
  background-color: var(--background);
  min-height: 100vh;
}

.ChatRoom{
  min-height: 100vh;
  display: flex;
}

.container-body{
  flex-grow: 1;
  background-color: var(--main);
}

.list-friends{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.notification {
  position: absolute;
  right: 0;
  top: 0;
}

@media (min-width: 768px) { 
  .options-seen-menuphone {
      display: none;
  }
}

@media (max-width: 768px) {
  .options-seen-menuphone{
      padding: 0.5rem 1rem;
      box-sizing: border-box;
      background-color: var(--background);
  }

  .options-seen-menuphone i {
      font-size: 1.4em;
  }

  .container-body{
      display: flex;
      flex-direction: column;
  }
}