@import url('assets/css/grid.css');
@import url('assets/css/container.css');
@import url('assets/css/color.css');
@import url('assets/css/form.css');
@import url('assets/css/font.css');
@import url('assets/css/card.css');
@import url('assets/css/scroll.css');

.App {
  background-color: var(--background);
  height: 100vh;
}

.ChatRoom{
  display: flex;
  height: 100vh;
}

.container-body{
  background-color: var(--main);
  flex-grow: 1;
}

.notification {
  position: absolute;
  right: 0;
  top: 0;
}