@import url('assets/css/grid.css');
@import url('assets/css/container.css');
@import url('assets/css/color.css');
@import url('assets/css/form.css');
@import url('assets/css/font.css');
@import url('assets/css/card.css');
@import url('assets/css/scroll.css');

.App {
  background-color: var(--background);
  min-height: 100vh;
}

.ChatRoom{
  min-height: 100vh;
  display: flex;
}

.container-body{
  flex-grow: 1;
  background-color: var(--main);
}

.list-friends{
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.notification {
  position: absolute;
  right: 0;
  top: 0;
}

.options-seen-menuphone{
  transition: left 0.5s;
}

@media (min-width: 768px) { 
  .options-seen-menuphone {
      display: none;
  }
}

@media (max-width: 768px) {
  .options-seen-menuphone{
    position: absolute;
    top: 0;
    left: 0;
  }

  .left{
    left: 250px;
  }

  .options-seen-menuphone i {
    padding: 0.5rem 1rem;
    box-sizing: border-box;
    font-size: 1.4em;
    cursor: pointer;
  }
}